/* general settings */

*
{
        color                           : #FFFFFF;
        font-family                     : FreeSans;
        font-size                       : 12px;
}

QTableWidget
{
    background                          : transparent;
}

/*--------------------------------------------------*/
QTableWidget::item
{
     background                      : transparent;
     border-width                    : 2px;
     border-radius                   : 4px;
     margin-bottom                   : 4px;
     margin-left                     : 4px;
     border-color                    : #FFC337;
     border-style                    : solid;
}

QTableWidget::item:selected
{
    background                      : transparent;
    border-width                    : 2px;
    border-radius                   : 4px;
    margin-bottom                   : 4px;
    margin-left                     : 4px;
    border-color                    : #FFC337;
    border-style                    : solid;
}

QWidget[type="clientItem"]
{
    background                      : transparent;
    border-width                    : 2px;
    border-radius                   : 4px;
    margin-bottom                   : 4px;
    margin-left                     : 4px;
    border-color                    : #FFC337;
    border-style                    : solid;
}

QListView
{
    background                          : transparent;
}

QAbstractScrollArea
{
        background-color                : transparent;
        border-style                    : none;
}

QLabel
{
        font-size                       : 20px;
        background-color                : transparent;
}

QLabel[type="labelNormal"]
{
        font-size                       : 12px;
}


QLabel[type="labelTitle"]
{
        font-size                       : 28px;
}


QLineEdit[type="lineEditSetup"]
{
        background-color                : #597290;
        font-size                       : 12px;
        font-color                      : black;
        border-width                        : 2px;
        border-style                        : solid;
        border-radius                       : 4px;
        border-color                        : #052850;
}

/*--------------------------------------------------*/
/* QCheckBox */
QCheckBox
{
    font-size                           : 12px;
    font-weight                         : normal;
    border-width                        : 2px;
    border-radius                       : 4px;
    border-color                        : #052850;

}

/*--------------------------------------------------*/
/* QComboBox for media selection */
QComboBox
{
    color                               : #FFFFFF;
    font-size                           : 12px;
    font-weight                         : normal;
    background-color                    : transparent;
    border-width                        : 2px;
    border-style                        : solid;
    border-radius                       : 4px;
    border-color                        : #052850;
}

QComboBox:on
{
     color                              : #597290;
     background-color                   : #FFC337;
     selection-background-color         : #FFC337;
}

QComboBox:off
{
    color                               : #FFFFFF;
    background-color                    : #FFC337;
    selection-background-color          : #FFC337;
}

QComboBox::down-arrow
{
    background-color                    : transparent;
}

QComboBox::down-arrow:on
{
    background-color                    : transparent;
}

/* This is also part of QComboBox */
QComboBox QAbstractItemView
{
     background-color                   : #1E416E;
}

QComboBox::drop-down
{
     subcontrol-origin                  : padding;
     subcontrol-position                : top right;
     border-left-width                  : 0px;
     border-left-color                  : #052850;
     border-left-style                  : none;
     border-top-right-radius            : 4px;  /* same radius as the QComboBox */
     border-bottom-right-radius         : 4px;
}

/*--------------------------------------------------*/
/* button.css                                       */
/*                                                  */
/* This file has to be processed to generate a      */
/* valid Qt- css- file                              */
/*--------------------------------------------------*/

/*--------------------------------------------------*/
/* tab button */
QAbstractButton[type="tabButton"]
{
        border-style                    : none;
        font-size                       : 18px;
        font-weight                     : normal;
        border-top-left-radius          : 4px;
        border-top-right-radius         : 0px;
        border-bottom-left-radius       : 4px;
        border-bottom-right-radius      : 0px;
        border-left-width               : 1px;
        border-top-width                : 1px;
        border-bottom-width             : 1px;
        border-right-width              : 0px;
        text-align                      : left;
        padding-left                    : 10px;
}

QAbstractButton[type="tabButton"]:checked:!pressed
{
        color                           : #FFFFFF;
        background-color                : #597290;
        border-color                    : rgb(122, 142, 166);
        border-style                    : solid;
}

QAbstractButton[type="tabButton"]:pressed, QAbstractButton[type="tabButton"]:checked:pressed
{
        color                           : rgba(0,0,0,20%);
        background-color                : qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0     #FFC337,
    stop:0.25  #FFD269,
    stop:1     #FFFF9B);
        border-style                    : solid;
        border-right-color              : rgb(122, 142, 166);
        border-right-width              : 1px;
}

/*--------------------------------------------------*/
/* framed icon button */
ui--Button[type="framedIconButton"]
{
        border-style                    : solid;
        background-color                : qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0     #B9C8E1,
    stop:1     #465573);;
        border-color                    : #052850;
        border-radius                   : 4px;
        border-width                    : 2px;
}

ui--Button[type="framedIconButton"]:pressed
{
        background-color                : qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0     #465573,
    stop:1     #B9C8E1);;
}

/*--------------------------------------------------*/
/* grid button */
QPushButton
{
        border-style                    : solid;
        color                           : #FFFFFF;        /* this is a little over- spec'ed, see general setting. */
        font-size                       : 12px;
        font-weight                     : normal;
        border-width                    : 2px;
        background-color                : transparent;
        border-radius                   : 0px;
        border-left-color               : transparent;
        border-right-color              : transparent;
        border-top-color                : transparent;
        border-bottom-color             : qlineargradient(x1:0, y1:0, x2:0, y2:1,
                stop:0     rgba(255,255,255,20%),
                stop:0.49  rgba(255,255,255,20%),
                stop:0.50  rgba(0,0,0,20%),
                stop:1     rgba(0,0,0,20%));
}

QPushButton:checked
{
        border-radius                   : 4px;
        border-color                    : #FFC337;
        border-width                    : 2px;
}

QPushButton:pressed
{
        background-color                : qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0     #FFC337,
    stop:0.25  #FFD269,
    stop:1     #FFFF9B);
        border-width                    : 2px;
        border-radius                   : 4px;
        border-color                    : #052850;
        color                           : #052850;
}

QPushButton:checked:pressed
{
        background-color                : qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0     #FFC337,
    stop:0.25  #FFD269,
    stop:1     #FFFF9B);
}

/*--------------------------------------------------*/
/* transparent button */
QPushButton[subtype="transparentButton"]
{
        background-color                : rgba(0,0,0,50%);
        border                          : none;
        border-radius                   : 4px;
}

/*--------------------------------------------------*/
/* QRadioButton 1 */
QRadioButton[type="radioButton1"]
{
        color                           : #FFFFFF;
        font-size                       : 18px;
        font-weight                     : normal;
}

QWidget
{
        background-color                : #1E416E;
        font-size                       : 10px;
}

SceneWidget, SceneEditWidget
{
        background                      : solid;
        background-color                : #1E416E;
        border-width                    : 2px;
        border-radius                   : 4px;
        margin-bottom                   : 4px;
        margin-left                     : 4px;
        border-color                    : #FFC337;
        border-style                    : solid;
}

/*--------------------------------------------------*/
/* vertical QScrollBar*/
QScrollBar:vertical
{
        background                      : transparent;
        border                          : 2px;
        border-color                    : #052850;
        border-radius                   : 4px;
        border-style                    : solid;
}

QScrollBar::add-page:vertical
{
        background                      : transparent;
        border                          : none;
        subcontrol-origin               : margin-top;
        subcontrol-position             : top;
}

QScrollBar::sub-page:vertical
{
        background                      : transparent;
        border                          : none;
        subcontrol-origin               : margin-bottom;
        subcontrol-position             : bottom;
}

QScrollBar::up-arrow:vertical
{
        background                      : transparent;
        background-color                : qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0     #465573,
    stop:1     #B9C8E1);;
        border                          : 2px;
        border-color                    : #052850;
        border-style                    : solid;
        border-top-left-radius          : 4px;
        border-top-right-radius         : 4px;
        margin-bottom                   : -4px;
        margin-left                     : -4px;
        margin-right                    : -4px;
        margin-top                      : -4px;
}

QScrollBar::down-arrow:vertical
{
        background                      : transparent;
        background-color                : qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0     #465573,
    stop:1     #B9C8E1);;
        border                          : 2px;
        border-color                    : #052850;
        border-style                    : solid;
        border-bottom-left-radius       : 4px;
        border-bottom-right-radius      : 4px;
        margin-bottom                   : -4px;
        margin-left                     : -4px;
        margin-right                    : -4px;
        margin-top                      : -4px;
}

QScrollBar::up-arrow:vertical:pressed
{
        background-color                : qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0     #B9C8E1,
    stop:1     #465573);;
        border                          : 2px;
        border-color                    : #FFC337;
        border-style                    : solid;
        border-top-left-radius          : 4px;
        border-top-right-radius         : 4px;
}

QScrollBar::down-arrow:vertical:pressed
{
        background-color                : qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0     #B9C8E1,
    stop:1     #465573);;
        border                          : 2px;
        border-color                    : #FFC337;
        border-style                    : solid;
        border-bottom-left-radius       : 4px;
        border-bottom-right-radius      : 4px;
}

QScrollBar::handle
{
        background                      : transparent;
        background-color                : qlineargradient(x1:0, y1:0, x2:0, y2:1,
    stop:0     #465573,
    stop:1     #B9C8E1);;
        border-bottom                   : 2px;
        border-top                      : 2px;
        border-left                     : none;
        border-right                    : none;
        border-style                    : solid;
        border-color                    : #052850;
}

QProgressBar
{
        border-style                    : solid;
        color                           : #FFFFFF;
        background-color                : #052850;
        border-color                    : #4E86CB;
        border-width                    : 2px;
        border-radius                   : 4px;
}

QSlider
{
        border-style                    : solid;
        color                           : #FFFFFF;
        background-color                : #052850;
        border-color                    : #4E86CB;
        border-width                    : 2px;
        border-radius                   : 4px;
}
